<div class="md-padding">
	<md-card flex="100" class="md-padding">
		<md-toolbar class="md-table-toolbar md-default">
			<div class="md-toolbar-tools">
				<div class="md-padding">
					<md-icon class="material-icons">people</md-icon>
				</div>
				<h2 class="md-title">Clientes</h2>
				<div flex></div>
				<md-input-container class="md-block" style="height: 38px;">
					<label>Pesquisar</label>
					<input ng-model="query.search" ng-change="getCustomers()">
					<md-icon class="material-icons">search</md-icon>
				</md-input-container>
				<md-button class="md-raised md-primary" aria-label="Exportar" download='download'  href="{{API_URL}}/customers?export=1">Exportar</md-button>
			</div>
		</md-toolbar>
		<md-table-container>
			<table md-table md-progress="promise">
				<thead md-head md-order="query.order">
					<tr md-row>
						<th md-column>ID</th>
						<th md-column>Npme</th>
						<th md-column>E-mail</th>
						<th md-column>Obras Solicitadas</th>
					</tr>
				</thead>
				<tbody md-body>
					<tr md-row ng-repeat="customer in customers.DATA">
						<td md-cell>{{customer.ID}}</td>
						<td md-cell>{{customer.NOME}}</td>
						<td md-cell>{{customer.EMAIL}}</td>
						<td md-cell>{{customer.OBRAS_SOLICITADAS}}</td>
					</tr>
				</tbody>
			</table>
		</md-table-container>
		<md-table-pagination md-label="{page: 'Página:', rowsPerPage: 'Linhas por página:', of: 'de'}" md-limit="query.limit" md-limit-options="[10,25,50,100]" md-page="query.page" md-total="{{customers.TOTAL}}" md-on-paginate="getCustomers" md-page-select md-boundary-links></md-table-pagination>
	</md-card>
</div>
